
*{
    display: block;
    margin: 0%;
    padding: 0%;
    background-color: rgb(252, 252, 252);
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    margin-top: 10rem;
}
.container{
    
       display: flex;
    flex-direction: column;
    color: red;
    text-align: center;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 30px;
    font-size: larger;
}
#name{
    margin-top: 5px;
    height: 40px;
    padding-top: 0rem;
    background-color: rgb(190, 190, 190);
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: center;
   
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5rem;
    border-style: hidden;
    
    color: rgb(10, 10, 10);
    font-size: medium;
}
#u-name{
    margin-top: 5px;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: rgb(10, 10, 10);
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5rem;
    border-style: hidden;
   
    
    font-size: medium;

}
#email{
    margin-top: 5px;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5rem;
    border-style: hidden;
   
    
    font-size: medium;

}
#pass{
    margin-top: 5px;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5rem;
    border-style: hidden;
    border-style: hidden;
   
    
    font-size: medium;
}
#pass2{
    margin-top: 5px;
    height: 40px;
    padding-top: 5px;
    background-color: rgb(190, 190, 190);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 5rem;
    border-style: hidden;
    
    
    font-size: medium;

    
}
#btn{
    /* padding-left: 500px;
    padding-right: 500px; */
    
    /* display: flex;
    flex-direction: column; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(36, 36, 35);
    border-style: hidden;
    
    color: rgb(20, 219, 86);
    font-size: medium;
    cursor: pointer;
    
}
